html, body {
	width: 100%;

}
body {
	
	margin: 0;
	padding: 0;
	font-family:Geneva, Arial, Helvetica, sans-serif;
	background: url(images/hadiningrat.jpg) no-repeat  top;
	#background:2px;
	background-attachment:fixed;
	color: #000000;
	font-size:2px;
}



#wrap{
	width:80%;
	padding:0 0 0 0;
	margin:0 0 0 0; 
}

.classhome{
margin:2 0 0 2;
font-size:12px;
font-family:sans-serif;
color:#877352;
}

.classhome a{
border:none;
color:#000;
font-size:11px;
font-weight:200;
text-decoration: none;
}


.classhome a:hover {
	color: #990000;
}


#wrapheader{
	border:1;
	padding:0 0 0 0;
	font-family:verdana;
	font-size:10px;
	text-align:center;
	margin:0 0 0 0; 
}

#wrapcenter{
	width:130%;
	height:98%;
	padding:0 0 0 0;
	font-size:9px;
	/*margin:-450 0 0 240; */
	margin:0 0 0 0; 
	#margin:0 0 0 0;
	 
	#position:center;
}



#wrapcenter a{
border:none;
color:#000;
font-size:14px;
font-weight:200;
text-decoration: none;
}

#wrapcenter a:hover {
	color: #990000;
}

#wrapcenter table{
	width:75%;
}

#wrapcenter td{
text-align:center;
}	

#wrapform{
padding:10 0 0 0;
font-family:Verdana;
}

#wrapform table{
width:600px;
padding:0 0 0 0;
font-size:12px;
} 

#wrapform input{
width:100px;
}


#wrapfooter{
	width:100%;
	padding:0 0 0 0;
	margin: 10 0 0 110;
	font-family:verdana;
	font-size:10px;
	text-align:center;
}

.class1{
/*float:right;*/
padding:25 25 25 25;
margin: 0 0 0 100;
background-color:#33FF00;
text-align:center;
font-size:15px;
}

.class2{
/*float:right;*/
padding:25 25 25 25;
margin: 0 0 0 100;
background-color:#FFFF66;
text-align:center;
font-size:15px;
}

.class3{
/*float:right;*/
padding:25 25 25 25;
margin: 0 0 0 100;
background-color:#FF0033;
text-align:center;
font-size:15px;
}

.class4{
/*float:right;*/
padding:25 25 25 25;
margin: 0 0 0 100;
background-color:#666666;
text-align:center;
font-size:15px;
}

.class5{
/*float:right;*/
padding:25 25 25 25;
margin: 0 0 0 100;
background-color:#FFA500;
text-align:center;
font-size:15px;
}

.class6{
/*float:right;*/
padding:10 10 10 10;
margin: 0 0 0 100;
background-color:#2F4F4F;
text-align:center;
font-size:15px;
}

.class7{
/*float:right;*/
padding:20 20 20 20;
margin: 0 0 0 100;
background-color:#A8A8A8;
text-align:center;
font-size:15px;
}

table{
margin: 0 0 60 50;
background-color:#FFFFFF;
margin: 0 0 0 0;
}


td {

	padding: 3 3 3 3;
    font-family:arial;
	font-size:10px;
	text-align:center;
	
	
}

#tabel{
margin: 0 0 0 0;
padding: 5 0 0 5;


}
#tik{
margin: 0 0 0 0;
padding: 5 0 0 5;


}





