body,table{
	font-family: Verdana;
	font-size: 12px;
	color: #000000;
}

#utama{
float:left;
width:400px;
padding:0 0 0 0;
}
.classinput{
width:150px;
font-family: Verdana;
background-color:#ffffff;
}



